@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@media(max-width : 600px){
  body{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    background: #fff!important;
    width: 360px!important;
    height: 1100px!important;
  }
  .container{
    width: 360px!important;
    height: 1100px!important;
    padding: 0!important;
  }

  .container .form-outer{
    margin-left: 8px!important;
  }
  .form-outer form .page .field{
    width: 348px!important;
  }
  .form-outer form .page .field2{
    width: 348px!important;
    margin-top: -30px!important;
    margin-left: -20px!important;
  }
  .form-outer form .page .title{
    font-size: 20px!important;
    width: 350px!important;
  }
  .progress-bar .step .bullet:before,
  .progress-bar .step .bullet:after{
  right: -57px!important;
  width: 50px!important;
  }
  form .page .field .label{
    width: 370px!important;
    text-align: left!important;
  }

  .form-outer form .page .inputCampo{
    width: 330px!important;
  }

  form .page .field .inputCampo{
    width: 370px!important;
    text-align: left!important;
  }
  .botao{
    width: 348px!important;
  }
  .textarea{
    width: 330px!important;
    height: 295px!important;
    margin-left: 20px!important;
  }
  .finaltext{
    margin-left: 30px!important;
  }
  select{
    width: 348px!important;
  }
  .textPDF2{
    width: 348px!important;
  }
  .inputcampo2{
    height: 100%!important;
    margin-top: 90px!important;
  }
  .radiotext2{
    margin-left: 45px!important;
  }
  .radio2{
    position: absolute!important;
  }
  .line {
    width: 355px!important;
    margin-left: 25px!important;
  }
}

@media(max-width : 730px){
  body{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    background: #fff!important;
    width: 360px!important;
    height: 1100px!important;
  }
  .container{
    width: 410px!important;
    height: 1100px!important;
    padding: 0!important;
    margin-left: 50px!important;
  }
  select{
    width: 395px!important;
  }
  .form-outer form .page .inputCampo{
    width: 378px!important;
  }
  .botao{
    width: 395px!important;
  }
  .progress-bar .step .bullet:before,
  .progress-bar .step .bullet:after{
  right: -68px!important;
  width: 60px!important;
  }
  .textarea{
    width: 338px!important;
    margin-left: 15px;
  }
  .finaltext{
    margin-left: 25px;
  }
}
@media(max-width : 500px){
  .textarea{
    width: 308px!important;
    margin-left: 6px!important;
  }
  .finaltext{
    margin-left: 35px!important;
  }
}
@media(width : 768px){
  body{
    margin-left: 150px!important;
    margin-top: -100px!important;
    height: 1340px!important;
  }
  .container{
    height: 1000px!important;
    padding: 0!important;
  }
  .textarea{
    width: 450px!important;
  }
  .finaltext{
    margin-left: 10px!important;
  }
}

@media(width : 1024px){
  body{
    margin-top: -80px!important;
    height: 1340px!important;
  }
  .container{
    height: 1000px!important;
    padding: 0!important;
  }
  .textarea{
    width: 450px!important;
  }
  .finaltext{
    margin-left: 10px!important;
  }
}

@media(width : 540px){
  body{
    margin-top: -5px!important;
    margin-left: -20px!important;
    height: 1100px!important;
    width: 530px!important;
  }
  .container{
    height: 1100px!important;
    padding: 0!important;
  }
  .textarea{
    width: 380px!important;
    margin-left: 10px!important;
  }
  .finaltext{
    margin-left: 10px!important;
  }
}

@media(width : 280px){
  .textarea{
    width: 330px!important;
  }
  .finaltext{
    margin-left: 25px!important;
  }
}

@media(width : 717px){
  body{
    margin-top: -5px!important;
    height: 1100px!important;
    width: 450px!important;
  }
  .container{
    height: 1100px!important;
    padding: 0!important;
  }
  .textarea{
    width: 380px!important;
    margin-left: 11px!important;
  }
  .finaltext{
    margin-left: 10px!important;
  }
  .campoFold{
    margin-bottom: 80px!important;
  }
  .header{
    width: 600px;
  }
  .title{
    width: 400px!important;
  }
  .progress-bar{
    margin-left: 100px!important;
    width: 400px!important;
  }
  .radio2{
    position: absolute!important;
  }
  .radiotext2{
    margin-left: 45px!important;
  }
  .line {
    width: 355px!important;
    margin-left: 135px!important;
  }
  .containerFinal{
    width: 400px;
    margin-left: 112px;
  }
}


*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  color: #2e3d49;
}
.header{
  color: #5e5e5f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 1000;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: -webkit-linear-gradient(bottom, #0b344d, #042031);
}
::selection{
  color: #fff;
  background: #0b344d;
  
}
.container{
  width: 700px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 50px 35px 10px 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
.container header{
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
  
}
.container .form-outer{
  width: 100%;
  overflow: hidden;
  margin-left: 115px;
}
.container .form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  width: 500px;
}
.form-outer form .page .field{
  width: 496px;
  height: 20px;
  margin: 45px 0;
  display: flex;
  position: relative;
  margin-right: 300px;
}
form .page .field .label{
  position: static;
  top: -30px;
  font-weight: 500;
  width: 360px;
}
form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}

/* Nova classe aqui --------------------------------------------------*/
.form-outer form .page .inputCampo{
  width: 480px;
  height: 45px;
  margin: 45px 0;
  position: static;
  margin-right: 300px;
}

form .page .inputCampo .label{
 
  font-weight: 500;
  width: 360px;
  text-align: left;
  margin-top: 5px;
}

form .page .inputCampo input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#btnFinal{
  display: block!important;
  float: left;
}

.botao{
  display: flex;
  width: 496px;
}
.botao button{
  margin-top: 300px;
  width: 100%;
  height: 50px;
  border: none;
  background: #2ea4d3;
  margin-top: 25px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
  
}

.botao button.prev{
  margin-right: 5px;
}
#label3{
  margin-top: 70px;
}

a{
  width: 100%;
}

h1{
  font-size: 40px;
  text-align: center;
  margin-top: 40px;

}
.textPDF{
  float: left;
  font-size: 20px;
  width: 480px;
  text-align: left;
}
.textPDF2{
  float: left;
  font-size: 20px;
  width: 480px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 30px;
}
.inputTextPDF{
  width: 480px;
  margin: 45px 0;
  position: static;
  margin-right: 300px;
}

/* ------------------------------------------------------------------------ */

form .page .field select{
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .page .botao button:hover{
  background: #0b344d;
}
form .page .btns button{
  margin-top: -20px!important;
}
form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next{
  margin-left: 3px;
}
.container .progress-bar{
  display: flex;
  margin: 40px 0;
  user-select: none;
  justify-content: center;
  align-items: center;
}
.container .progress-bar .step{
  text-align: center;
  width: 140px;
  position: relative;
}
.container .progress-bar .step p{
  font-weight: 500;
  font-size: 18px;
  color: #042031;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 25px;
  width: 25px;
  border: 2px solid #042031;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active{
  border-color: #00cc00;
  background: #00cc00;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -110px;
  height: 3px;
  width: 105px;
  background: #262626;
}
.progress-bar .step .bullet.active:after{
  background: #00cc00;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #00cc00;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active{
  display: block;
  color: #fff;
}

.radio{
  display: flex;
  align-items: left;
  height: 20px !important;
  width: 20px !important;
}

.radiotext{
  margin-left: 10px;
  width: 496px;
  text-align: left;
}

.textarea{
  height: 300px;
  width: 496px;
  resize: none;
}

.radio{
  width: 5px;
  height: 5px;
  display: flex;
  margin-right: 5px;
}

.quantidade{
  display: inline-flex;
  margin-top: 10px;
  float: left;
  margin-right: 10px;
}
.quantidadef{
  display: inline-flex;
  margin-top: 10px;
}

.text-quant{
  margin-top: 10px;
  font-size: 14px;
}

select{
  margin-top: 10px;
  width: 496px;
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: #fff;
}

.inputcampo2{
  height: 100%!important;
}

.radio2{
  width: 16px;
  height: 16px;
  display: flex;
  margin-right: 5px;
  margin-left: 20px;
  margin-top: 3px;
}
.radiotext2{
  margin-left: 5px;
  text-align: left; 
  margin-right: 15px;
}
.field2{
  width: 496px;
  height: 20px;
  position: relative;
  display: none;
}
.aviso{
  float: left;
  margin-top: 15px;
  color: rgb(197, 25, 25);
  font-weight: 500;
  display: none;
  font-size: 14px;
}
.line {
  width: 465px;
  border-top: 2px solid lightgrey;
  margin-left: 130px;
  margin-top: 10px;
}
.plFinal{
  margin-top: 10px;
}
.politicaPr{
  color: #1d95d3;
  font-size: 13px;
  text-decoration: none;
}
.copyright{
  font-size: 16px;
  font-weight: 500;
}
.sysmap{
  font-size: 13px;
}
